<div class="about-top">
			 <div class="cont1 span_2_of_a about_desc">
				      
				      <h2><?=$this->title?></h2> &nbsp;
				      
				      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2853.921383011545!2d23.7819765!3d44.3321202!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4752d77d671ccb4d%3A0xe6309186183a98f8!2sCMI+Doctor+Mihaela+T%C4%83n%C4%83sescu!5e0!3m2!1sro!2sus!4v1453294086382" width="770" height="580" frameborder="0" style="border:0" allowfullscreen></iframe>
				       
		    			  
			 </div>
			 <!-- coloana din stanga -->
			 <div class="lsidebar1 span_1_of_a offers_list">
					&nbsp; <br /> &nbsp; 
				     <div class="appointment">
					
						<h3>Contact</h3>
						<h5>Contacteaza-ne pe email, la </h5>
						<p>Bla, bla, bla</p>
					
				     </div><!-- appointment -->
				     <div class="clear"></div> 
		   	 </div>
			<div class="clear"></div> 
</div>